div.feedContainer {

    div.feed {

        div.content {

            div.newPost {
                display: grid;
                grid-template-columns: auto;
                grid-auto-rows: min-content min-content;
                gap: .7rem;

                div.userInfo {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    img {
                        object-fit: cover;
                        border-radius: 50%;
                        filter: drop-shadow(0 .5rem 4px #26274b0c);
                    }

                    span {
                        text-transform: capitalize;
                        color: #26274b;
                        font-weight: bold;
                        font-family: sans-serif;
                        font-size: 1rem;
                    }
                }

                @keyframes error {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }

                span.error {
                    background-color: rgba(255, 0, 0, 0.178);
                    padding: 0.5rem;
                    border: 1px solid rgba(255, 0, 0, 0.377);
                    color: rgba(255, 0, 0, 0.733);
                    border-radius: 4px;
                    font-size: .9rem;
                    opacity: 0;
                    animation: error 300ms;
                    animation-fill-mode: forwards;
                }

                form.userPost {
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-rows: min-content min-content;
                    gap: .7rem;

                    textarea {
                        resize: none;
                        outline: none;
                        background: #fff;
                        border: 1px solid lightgray;
                        border-bottom: 2px solid lightgrey;
                        border-radius: 4px;
                        padding: 1rem;
                        max-height: calc(100% - 2rem);
                        max-width: calc(100% - 2rem - 2px);
                        color: rgb(153, 153, 153);
                        font-family: sans-serif;
                        font-size: 1rem;
                    
                        &::placeholder {
                            color: rgb(153, 153, 153);
                        }
                    }

                    div.buttons {
                        display: grid;
                        grid-template-columns: auto min-content min-content min-content;
                        grid-template-rows: min-content;
                        gap: .5rem;
                        position: relative;
                        width: calc(100% - 2px);

                        div.loader {
                            display: grid;
                            grid-template-columns: min-content min-content min-content;
                            grid-template-rows: auto;
                            align-items: center;
                            justify-items: center;
                            gap: .5rem;
                            transform: translateX(-1rem) translateY(.2rem);

                            @keyframes loader {
                                0% {
                                    transform: translateY(-.5rem);
                                }
                                100% {
                                    transform: translateY(0);
                                }
                            }

                            div {
                                content: "";
                                width: 10px;
                                height: 10px;
                                background-color: lightgray;
                                border-radius: 50%;
                                animation: loader 400ms;
                                animation-iteration-count: infinite;
                                animation-direction: alternate;
                            }

                            div:nth-child(2) {
                                animation-delay: 100ms;
                            }

                            div:nth-child(3) {
                                animation-delay: 200ms;
                            }
                        }

                        span.counter {
                            position: absolute;
                            color: rgb(153, 153, 153);
                            font-family: sans-serif;
                        }

                        img {
                            background: #fff;
                            padding: 0.4rem;
                            object-fit: cover;
                            border: 1px solid lightgray;
                            border-bottom: 2px solid lightgray;
                            border-radius: 4px;
                            cursor: pointer;
                        }

                        input[type="submit"] {
                            background-color: #fff;
                            border: 1px solid lightgray;
                            border-bottom: 2px solid lightgray;
                            color: #26274b;
                            font-weight: bold;
                            font-size: .9rem;
                            padding: 0 1.5rem;
                            transform: translateX(2px);
                            border-radius: 4px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}